
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.body %></td>
    <td><%= link_to 'Mostrar', blog %></td>
    <td><%= link_to 'Editar', edit_blog_path(blog) if logged_in?(:site_admin) %></td>
    <td><%= link_to 'Deletar Post', blog, method: :delete, data: { confirm: 'Deseja confirmar a exclusão do post?'} if logged_in?(:site_admin)  %></td>
  </tr>

